* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, black, #1e3888);
}
a {
    text-decoration: none;
}
h1 {
    font-size: clamp(2.6rem, 3vw, 4rem);
}

.center {
    display: grid;
    place-content: center;
}
.container {
    width: clamp(300px, 70vw, 1400px);
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.off {
    display: none;
}
.text-align {
    text-align: center;
}

@keyframes adjust-header {
    100% {
        background-color: #152861;
    }
} 

/* HEADER */
header {
    top: 0;
    z-index: 999;
    display: grid;
    position: sticky;
    place-content: center;
    padding-block: 1.2rem;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 320px;
}
.navegation {
    display: flex;
    justify-content: space-between;
}
.img_logo {
    width: 8rem;
}
.enlaces {
    display: flex;
    gap: 1rem;
}
.enlaces-li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: #ffffff38;
}
.no-active {
    &:hover {
        background-color: #ffffff17;
    }
}
.enlaces > li > a {
    list-style-type: none;
    color: #fff;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    transition: all .3s ease-in-out;
}
.btn-donar {
    cursor: pointer;
    width: 100%;
    background-color: #f9c80e;
    color: #1e3888;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    font-family: 'Poppins', sans-serif;
}
.fa-heart {
    margin-right: .3rem;
}

/* BAR - MENU */
.btn-menu {
    color: #fff;
    font-size: 22px;
}
.toggle-menu, .btn-menu {
    display: none;
}

/* DONAR */
.donar {
    padding-block: 5rem;
    background-color: #111a368a;
}
.donar-title {
    color: #fff;
    width: clamp(300px, 70vw, 900px);
    margin-top: 1rem;
    font-size: clamp(15px, 3vw, 23px);
}
.donar-text {
    color: #60cbff;
    font-size: clamp(14px, 3vw, 15px);
    text-transform: uppercase;
    margin-top: 1rem;
    font-style: italic;
}
.donar-container {
    width: clamp(300px, 70vw, 600px);
}
.donar-icon {
    color: #60cbff;
    font-size: 30px;
}

/* DONAR CUENTA */
.donar-cuenta {
    padding-block: 5rem;
}
.donar-cuenta-title {
    font-size: clamp(13px, 3vw, 15px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #60cbff;
    font-weight: 500;
}
.donar-cuenta-title2 {
    color: #fff;
    font-size: clamp(2.6rem, 3vw, 4rem);
}
.donar-cuenta-text {
    color: #e6e6e6;
    font-size: clamp(14px, 3vw, 16px);
}

/* BOX DONAR */
.box-donar {
    margin-top: 4rem;
    border-radius: 10px;
    background-color: #081231;
    padding: 2rem;
    border: 1px solid #fdfdfd23;
    transition: all .3s ease-in-out;
    &:hover {
        box-shadow: 0 0 30px #409bcf;
    }
}
.box-icon-banco {
    color:#fff;
    font-size: 18px;
    color: #7d9eff;
    padding: .8rem .8rem;
    border-radius: 10px;
    background-color: #60667731;
}
.donar-box-title {
    color: #fff;
    font-size: clamp(15px, 3vw, 17px);
}
.info {
    background-color: #60667731;
    padding: 1rem;
    border-radius: 10px;
}
.flex-justify {
    justify-content: space-between;
}
.copy {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    padding: .3rem .7rem;
    transition: all .3s ease-in-out;
    &:hover {
        color: #60cbff;
        background-color: #41548a5b;
    }
}
.gap {
    gap: .8rem;
}
.gap2 {
    gap: .1rem;
}
.gap3 {
    gap: 1.2rem;
}
.banco-title {
    color: #d8d6d6;
    font-size: clamp(12px, 3vw, 13px);
}
.banco-text {
    color: #fff;
    font-size: clamp(13px, 3vw, 14px);
    font-weight: 600;
}
.thanks {
    color: #fff;
    font-size: 12px;
    border-top: 1px solid #fdfdfd23;
    padding-top: 1rem;
}

input[type="text"] {
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

/* KILO */
.kilo {
    padding-block: 5rem;
    background-color: #1e30668a;
}
.kilo-amor {
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #fdfdfd23;
    background-color: #081231;
    transition: all .3s ease-in-out;
    &:hover {
        box-shadow: 0 0 30px #409bcf;
    }
}
.icon-kilo-amor {
    color: #7d9eff;
    padding: .8rem .7rem;
    font-size: 30px;
    border-radius: 10px;
    background-color: #24283396;
}
.text-kilo {
    font-size: clamp(13px, 3vw, 14px);
    color: #fff;
}
.text-kilo2 {
    font-size: clamp(13px, 3vw, 14px);
    color: #60cbff;
}
.gap4 {
    gap: 1.8rem;
}
.gap5 {
    gap: .3rem;
}
.btn-kilo {
    font-size: clamp(14px, 3vw, 15px);
    color: #fff;
    padding: .6rem 1.2rem;
    width: fit-content;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #409bcf;
    cursor: pointer; 
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #409bcfdc;
    }
}

/* FOOTER */
.fot-img_logo {
    width: 7rem;
}
.footer {
    padding-block: 5rem;
    background-color: #0c1a44;
}
.grid-template-column4-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.footer-text {
    color: #d8d6d6;
    margin-top: 1rem;
    font-size: clamp(13px, 3vw, 14px);
}
.box-media {
    margin-top: 1rem;
    border-radius: 10px;
    padding: .7rem .9rem;
    font-size: 17px;
    color: #e6e6e6;
    cursor: pointer;
    background-color: #1e3888;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #e6e6e6;
        color: #1e3888;
    }
}
.fot-title {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: clamp(17px, 3vw, 20px);
}
.fot-box {
    gap: 8px;
}
.fot-box > li {
    list-style-type: none;
}
.fot-enlace {
    color: #e6e6e6;
    font-size: clamp(13px, 3vw, 14px);
}
.fot-strong {
    color: #fff;
    font-weight: 500;
}
.icon-fot {
    width: 8px;
    margin-right: 13px;
    font-size: 15px;
    color: #e6e6e6;
}

/* DERECHOS */
.fot-content {
    margin-bottom: 2rem;
}
.derechos {
    text-align: center;
    padding-top: 2rem;
    color: #e6e6e6;
    font-size: 14px;
    border-top: 1px solid #fdfdfd23;
}

@media (width < 1450px) {
    /* MENU */
    .toogle-menu, .btn-menu {
        display: block;
    }
    #menu:checked ~ .enlaces {
        right: 0;
    }

    /* HEADER */
    header {
        position: fixed;
        width: 100%;
    }
    main {
        margin-top: 5rem;
    }
    .enlaces {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        padding: 2rem;
        background-color: #1e3888;
        transition: all .3s ease-in-out;
    }
    .btn-donar-off {
        display: none;
    }
    .on {
        display: block;
    }
    .active, .no-active {
        width: 100%;
    }
}

@media (width < 900px) {
    .img_logo {
        width: 7rem;
    }

    .kilo-amor {
        flex-direction: column;    
    }
    .flex-direction {
        flex-direction: column;
    }
    .gap5 {
        gap: 0;
    }   
}
