* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, black, #1e3888);
}
a {
    text-decoration: none;
}
h1 {
    font-size: clamp(2.6rem, 3vw, 4rem);
    color: #fff;
}
button {
    font-family: 'Poppins', sans-serif;
}

@view-transition {
    navigation: auto;
}

.center {
    display: grid;
    place-content: center;
}
.container {
    width: clamp(300px, 70vw, 1400px);
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.off {
    display: none;
}
.text-align {
    text-align: center;
}
.justify-content {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

@keyframes adjust-header {
    100% {
        background-color: #152861;
    }
} 

/* HEADER */
header {
    top: 0;
    z-index: 999;
    position: sticky;
    padding-block: 1.2rem;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 320px;
}
.navegation {
    display: flex;
    justify-content: space-between;
}
.img_logo {
    width: 8rem;
}
.enlaces {
    display: flex;
    gap: 1rem;
}
.enlaces-li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: #ffffff38;
}
.no-active {
    &:hover {
        background-color: #ffffff17;
    }
}
.enlaces > li > a {
    list-style-type: none;
    color: #fff;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    transition: all .3s ease-in-out;
}
.btn-donar {
    cursor: pointer;
    width: 100%;
    background-color: #f9c80e;
    color: #1e3888;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    font-family: 'Poppins', sans-serif;
}
.fa-heart {
    margin-right: .3rem;
}

/* BAR - MENU */
.btn-menu {
    color: #fff;
    font-size: 22px;
}
.toggle-menu, .btn-menu {
    display: none;
}

/* GALERIA */
.galeria {
    padding-block: 5rem;
}
.galeria-title {
    font-size: clamp(13px, 3vw, 15px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #60cbff;
    font-weight: 500;
}
.galeria-text {
    font-size: clamp(14px, 3vw, 16px);
    color: #e6e6e6;
}
.galeria-img {
    padding-block: 5rem;
    background-color: #fff;
}
.grid-template-column3  {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}
.btn, .btn-active {
    cursor: pointer;
}
.btn {
    background-color: #e9edfa;
    color: #152861;
    font-size: 15px;
    border-radius: 5rem;
    padding: .5rem 1.2rem;
}
.btn-active {
    background-color: #152861;
    color: #fff;
    font-size: 15px;
    border-radius: 5rem;
    padding: .5rem 1.2rem;
}
.box-galeria {
    padding-top: 5rem;
}
.img-galeria {
    width: 100%;
    height: 100%;
    scale: 1.01;
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.box-img {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    height: 320px;
    background: linear-gradient(to bottom, #152861);
    border: .5px solid #f0eeeee5;
    box-shadow: 0 0 10px #d1d1d1;
    &:hover {
        .img-galeria {
            opacity: .65;
            scale: 1.1;
        }
        .box-info {
            bottom: 0;
        }
    }
}
/* .box-img::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    transition: all .3s ease-in-out;
}
.box-img:hover::after {
    background-color: #15286154;
} */
.box-info {
    z-index: 99;
    padding: 1.2rem;
    position: absolute;
    bottom: -30%;
    transition: all .3s ease-in-out;
}
.gal-title {    
    font-size: clamp(14px, 3vw, 16px);
    color: #fff;
}
#img-view-title {
    font-size: clamp(16px, 3vw, 18px);
    color: #fff;
}
.gal-text {
    font-size: clamp(13px, 3vw, 14px);
    color: #e6e6e6;
}
#img-view-text {
    font-size: clamp(14px, 3vw, 16px);
    color: #e6e6e6;
}
.box-img-view-info {
    margin-top: 1.2rem;
}
.message {
    display: none;
}
.box-message {
    gap: 1rem;
}
.me-title {
    font-size: clamp(17px, 3vw, 20px);
}
.me-text {
    font-size: clamp(14px, 3vw, 16px);
}
.fa-camera {
    font-size: 2rem;
}

/* VIEW IMG */
.box-view-img {
    top: 0;
    width: 100%;
    height: 100dvh;
    position: fixed;
    display: none;
    z-index: 999;
    background-color: #162550cc;
}
.container-img {
    width: clamp(300px, 70vw, 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-view {
    width: 100%;
    height: 580px;
    position: relative;
    border-radius: 10px;
}
#left, #right {
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    background-color: #152861;
    font-size: 30px;
    z-index: 10;
    border-radius: 50%;
    padding: .4rem 1.2rem;
    transition: all .3s ease-in-out;
}
#left {
    position: absolute;
    left: 15%;
}
#right {
    position: absolute;
    right: 15%;
}
#close {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 32px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
#left:disabled, #right:disabled {
    border: 2px solid #fff;
    background-color: #d1d1d1;
    color: #6e6e6e;
    cursor: not-allowed;
}

/* FOOTER */
.fot-img_logo {
    width: 7rem;
}
.footer {
    padding-block: 5rem;
    background-color: #0c1a44;
}
.grid-template-column4-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.footer-text {
    color: #d8d6d6;
    margin-top: 1rem;
    font-size: clamp(13px, 3vw, 14px);
}
.box-media {
    margin-top: 1rem;
    border-radius: 10px;
    padding: .7rem .9rem;
    font-size: 17px;
    color: #e6e6e6;
    cursor: pointer;
    background-color: #1e3888;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #e6e6e6;
        color: #1e3888;
    }
}
.fot-title {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: clamp(17px, 3vw, 20px);
}
.fot-box {
    gap: 8px;
}
.fot-box > li {
    list-style-type: none;
}
.fot-enlace {
    color: #e6e6e6;
    font-size: clamp(13px, 3vw, 14px);
}
.fot-strong {
    color: #fff;
    font-weight: 500;
}
.icon-fot {
    width: 8px;
    margin-right: 13px;
    font-size: 15px;
    color: #e6e6e6;
}

/* DERECHOS */
.fot-content {
    margin-bottom: 2rem;
}
.derechos {
    text-align: center;
    padding-top: 2rem;
    color: #e6e6e6;
    font-size: 14px;
    border-top: 1px solid #fdfdfd23;
}

@media (width < 1200px) {
    /* MENU */
    .toogle-menu, .btn-menu {
        display: block;
    }
    #menu:checked ~ .enlaces {
        right: 0;
    }

    /* HEADER */
    header {
        position: fixed;
        width: 100%;
    }
    main {
        margin-top: 5rem;
    }
    .enlaces {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        padding: 2rem;
        background-color: #1e3888;
        transition: all .3s ease-in-out;
    }
    .btn-donar-off {
        display: none;
    }
    .on {
        display: block;
    }
    .active, .no-active {
        width: 100%;
    }

    /* GALERIA */
    .grid-template-column3  {
        grid-template-columns: repeat(2 , 1fr);
        gap: 1.4rem;
    }
    .box-img {
        height: 350px;
    }
    #img-view {
        height: 100%;
        object-fit: cover;
    }
}

@media (width < 1300px) {
    .img_logo {
        width: 7rem;
    }

    /* GALERIA */
    #img-view {
        height: 450px;
    }
    .box-img {
        height: 280px;
    }
}

@media (width < 900px) {
    .img_logo {
        width: 7rem;
    }

    /* GALERIA */
    .grid-template-column3  {
        grid-template-columns: repeat(1 , 1fr);
        gap: 1.4rem;
    }
    #img-view {
        height: 450px;
    }
    .box-img {
        height: 400px;
    }
}

@media (width < 800px) {
    .container-img {
        rotate: 90deg;
    }
    .box-img-view-info {
        display: none;
    }
    .box-img {
        height: 350px;
    }
    
    #img-view {
        width: 450px;
        height: 100%;
        object-fit: cover;
    }
    .content-img {
        height: 320px;
    }
    
    #left {
        position: absolute;
        left: -60%;
    }
    #right {
        position: absolute;
        right: -60%;
    }
    #close {
        bottom: -72%;
    }
}
@media (width < 600px) {
    .container-img {
        rotate: 90deg;
    }
    .box-img-view-info {
        display: none;
    }
    .box-img {
        height: 230px;
    }
    
    #img-view {
        width: 450px;
        height: 100%;
        object-fit: cover;
    }
    .content-img {
        height: 320px;
    }
}