* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, black, #1e3888);
}
a {
    text-decoration: none;
}
h1 {
    font-size: clamp(2.6rem, 3vw, 4rem);
    color: #fff;
}

@view-transition {
    navigation: auto;
}

.center {
    display: grid;
    place-content: center;
}
.container {
    width: clamp(300px, 70vw, 1400px);
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.off {
    display: none;
}
.text-align {
    text-align: center;
}

@keyframes adjust-header {
    100% {
        background-color: #152861;
    }
} 

/* HEADER */
header {
    top: 0;
    z-index: 999;
    position: sticky;
    padding-block: 1.2rem;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 320px;
}
.navegation {
    display: flex;
    justify-content: space-between;
}
.img_logo {
    width: 8rem;
}
.enlaces {
    display: flex;
    gap: 1rem;
}
.enlaces-li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: #ffffff38;
}
.no-active {
    &:hover {
        background-color: #ffffff17;
    }
}
.enlaces > li > a {
    list-style-type: none;
    color: #fff;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    transition: all .3s ease-in-out;
}
.btn-donar {
    cursor: pointer;
    width: 100%;
    background-color: #f9c80e;
    color: #1e3888;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 15px);
    font-family: 'Poppins', sans-serif;
}
.fa-heart {
    margin-right: .3rem;
}

/* BAR - MENU */
.btn-menu {
    color: #fff;
    font-size: 22px;
}
.toggle-menu, .btn-menu {
    display: none;
}

/* NOSOTROS */
.nosotros {
    padding-block: 5rem;
}
.nosotros-title {
    font-size: clamp(13px, 3vw, 15px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #60cbff;
    font-weight: 500;
}
.nosotros-text {
    font-size: clamp(14px, 3vw, 16px);
    color: #e6e6e6;
}

/* HISTORIA */
.historia {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    background-color: #fff;
}
.box-hist {
    padding: .5rem 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
    background-color: #2e69fe;
    border-radius: 5rem;
}
.title-hist {
    font-size: clamp(25px, 3vw, 30px);
}

/* TIME LINE */
.time-line {
    margin-block: 2.5rem;
    position: relative;
    display: grid;
    gap: 2.3rem;
}
.time-line::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    border-radius: 10px;
    background-color: #1e398833;
}
.history {
    gap: .5rem;
}
.box-time {
    padding: 1.5rem;
    margin-inline: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 8px #cccccc;
    background-color: #fff;
}
.box-time2 {
    padding: 1.5rem;
    margin-inline: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 8px #cccccc;
    background-color: #fff;
}
.right::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #49c2ff;
    box-shadow: 0 0 10px #cacaca;
    border-radius: 100%;
} 
.right::before {
    left: 49.75%;
    top: 50%;
}
.year {
    color: #1e3888;
    text-align: right;
}
.year2 {
    color: #1e3888;
    text-align: left;
}
.title {
    color: #000;
    text-align-last: right;
    font-size: clamp(18px, 3vw, 22px);
}
.title2 {
    color: #000;
    text-align-last: left;
    font-size: clamp(18px, 3vw, 22px);
}
.text {
    color: #2b2b2b;
    font-size: clamp(14px, 3vw, 16px);
    text-align: justify;
    text-align-last: right;
}
.text2 {
    color: #2b2b2b;
    font-size: clamp(14px, 3vw, 16px);
    text-align: justify;
    text-align-last: left;
}
.grid-template-column2 {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}

/* FOOTER */
.fot-img_logo {
    width: 7rem;
}
.footer {
    padding-block: 5rem;
    background-color: #0c1a44;
}
.grid-template-column4-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.footer-text {
    color: #d8d6d6;
    margin-top: 1rem;
    font-size: clamp(13px, 3vw, 14px);
}
.box-media {
    margin-top: 1rem;
    border-radius: 10px;
    padding: .7rem .9rem;
    font-size: 17px;
    color: #e6e6e6;
    cursor: pointer;
    background-color: #1e3888;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #e6e6e6;
        color: #1e3888;
    }
}
.fot-title {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: clamp(17px, 3vw, 20px);
}
.fot-box {
    gap: 8px;
}
.fot-box > li {
    list-style-type: none;
}
.fot-enlace {
    color: #e6e6e6;
    font-size: clamp(13px, 3vw, 14px);
}
.fot-strong {
    color: #fff;
    font-weight: 500;
}
.icon-fot {
    width: 8px;
    margin-right: 13px;
    font-size: 15px;
    color: #e6e6e6;
}

/* DERECHOS */
.fot-content {
    margin-bottom: 2rem;
}
.derechos {
    text-align: center;
    padding-top: 2rem;
    color: #e6e6e6;
    font-size: 14px;
    border-top: 1px solid #fdfdfd23;
}

@media (width < 1200px) {
    /* MENU */
    .toogle-menu, 
    .btn-menu {
        display: block;
    }
    #menu:checked ~ .enlaces {
        right: 0;
    }

    /* HEADER */
    header {
        position: fixed;
        width: 100%;
    }
    main {
        margin-top: 5rem;
    }
    .enlaces {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        padding: 2rem;
        background-color: #0c1a44;
        transition: all .3s ease-in-out;
    }
    .btn-donar-off {
        display: none;
    }
    .on {
        display: block;
    }
    .active, 
    .no-active {
        width: 100%;
    }
}

@media (width < 900px) {
    .img_logo {
        width: 7rem;
    }

    /* TIME LINE */
    .box-time,
    .box-time2 {
        margin: 0;
    } 
    .grid-template-column2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .right::before {
        content: "";
        width: 0;
    }

    .year, .year2,
    .title, .title2,
    .text, .text2 {
        text-align-last: left;
    }
}